.vs
x64
libs/
*.user
compile_metrics/generated_data/*
compile_metrics/temp_payload.h
readme/gif/*
sample_datasets/binary_bakery_payload.h
decoder_example/*.txt
binary_bakery.exe
binary_bakery.toml
build